.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: purple ;
    border-color: purple ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid purple ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: purple ;
    border-color: purple;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: purple
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .mast-head{
    position: fixed;
    background-color: rgb(246, 243, 243);
    width: 80%;
    margin-left: 5%;
    
  }
  .product-content{
    display: inline-block;
    margin-left: 5%;
    margin-top: 15%;
    width: 78%
  }
  .search-style{
    margin-top: 9px;
    height: 30px;
    width: 150px;
  }